DownloadFiles/TGNet/Chapter10/C#/Exercise10-2/WebServTestBed/WebServTestBed/Web References/CalculateArea/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RectangleArea">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="length" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="width" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RectangleAreaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RectangleAreaResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RectangleAreaSoapIn">
    <wsdl:part name="parameters" element="tns:RectangleArea" />
  </wsdl:message>
  <wsdl:message name="RectangleAreaSoapOut">
    <wsdl:part name="parameters" element="tns:RectangleAreaResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="RectangleArea">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This service calculates the area of a rectangle</wsdl:documentation>
      <wsdl:input message="tns:RectangleAreaSoapIn" />
      <wsdl:output message="tns:RectangleAreaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RectangleArea">
      <soap:operation soapAction="http://tempuri.org/RectangleArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RectangleArea">
      <soap12:operation soapAction="http://tempuri.org/RectangleArea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:3810/Exercise10-1/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:3810/Exercise10-1/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>